<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    Edit - {{user.name}} {{user.surname}}
  </div>
  <div class="modal-body">
    <app-user-edit-form [user]="user" #form></app-user-edit-form>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group" aria-label="Edit user">
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
      <button *ngIf="form.Valid" type="button" class="btn btn-danger" (click)="submit(form)">Save</button>
      <button *ngIf="!form.Valid" type="button" class="btn btn-danger" disabled>Save</button>
    </div>
  </div>
</ng-template>

<div class="container-fluid padding-disabled" *ngIf="!deleted">
  <div class="col-xs-1">{{user.id}}</div>
  <div class="col-xs-2">{{user.name}}</div>
  <div class="col-xs-2">{{user.surname}}</div>
  <div class="col-xs-1">{{user.dateOfBirth}}</div>
  <div class="col-xs-2">{{user.mobileNumber}}</div>
  <div class="col-xs-2">{{user.city}}, {{user.street}} {{user.houseNumber}}</div>
  <div class="col-xs-2">
    <div class="btn-group fullWidth" role="group" aria-label="Edit user">
      <button type="button" class="btn btn-primary halfWidth" (click)="openModalEdit()">Edit</button>
      <button type="button" class="btn btn-danger halfWidth" (click)="delete()">Delete</button>
    </div>
  </div>
</div>

<div class="container-fluid padding-disabled" *ngIf="deleted">
  <div class="col-xs-1">{{user.id}}</div>
  <div class="col-xs-2">{{user.name}}</div>
  <div class="col-xs-2">{{user.surname}}</div>
  <div class="col-xs-1">{{user.dateOfBirth}}</div>
  <div class="col-xs-2">{{user.mobileNumber}}</div>
  <div class="col-xs-2">{{user.city}}, {{user.street}} {{user.houseNumber}}</div>
  <div class="col-xs-2">
    <button type="button" class="btn btn-primary fullWidth" disabled>Deleted</button>
  </div>
</div>
