<div class="container-fluid">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="container-fluid">
          <div class="col-xs-1">id</div>
          <div class="col-xs-2">name</div>
          <div class="col-xs-2">surname</div>
          <div class="col-xs-1">date of birth</div>
          <div class="col-xs-2">mobile number</div>
          <div class="col-xs-2">address(city + street + house number)</div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-block btn-primary">Edit</button>
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngFor="let user of Users">
        <app-users-table-row [user]="user"></app-users-table-row>
      </li>
    </ul>
  </div>
</div>
