<ng-template #modalTemplate let-modal>
  <div class="modal-header">
    {{ 'EDIT' | translate }} - {{modalUser.name}} {{modalUser.surname}}
  </div>
  <div class="modal-body">
    <app-user-edit-form [user]="modalUser" #form></app-user-edit-form>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group" aria-label="Edit user">
      <button type="button" class="btn btn-danger" (click)="canceModal()">{{ 'CANCEL' | translate }}</button>
      <button *ngIf="!modalNextButtonDisabled" type="button" class="btn btn-danger" (click)="nextModal()">{{ 'NEXT' | translate }}</button>

      <button *ngIf="form.Valid && !modalNextButtonDisabled" type="button" class="btn btn-danger" (click)="submitNextModal(form)">{{ 'SAVE_AND_NEXT' | translate }}</button>
      <button *ngIf="!form.Valid && !modalNextButtonDisabled" type="button" class="btn btn-danger" disabled>{{ 'SAVE_AND_NEXT' | translate }}</button>

      <button *ngIf="form.Valid && modalNextButtonDisabled" type="button" class="btn btn-danger" (click)="submitNextModal(form)">{{ 'SAVE' | translate }}</button>
      <button *ngIf="!form.Valid && modalNextButtonDisabled" type="button" class="btn btn-danger" disabled>{{ 'SAVE' | translate }}</button>
    </div>
  </div>
</ng-template>

<div class="container-fluid">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="container-fluid">
          <div class="col-xs-1">

          </div>
          <div class="col-xs-11">
            <div class="col-xs-1">{{ 'ID' | translate }}</div>
            <div class="col-xs-2">{{ 'NAME' | translate }}</div>
            <div class="col-xs-2">{{ 'SURNAME' | translate }}</div>
            <div class="col-xs-1">{{ 'DATE_OF_BIRTH' | translate }}</div>
            <div class="col-xs-2">{{ 'MOBILE_NUMBER' | translate }}</div>
            <div class="col-xs-2">{{ 'ADDRESS' | translate }}</div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-block btn-primary" (click)="openModal()">{{ 'EDIT' | translate }}</button>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item" *ngFor="let user of Users">
        <div class="container-fluid">
          <div class="col-xs-1">
            <input type="checkbox" class="form-check-input" [checked]="checkedEdit(user.id)" (click)="toggleEdit(user.id)">
          </div>
          <div class="col-xs-11">
            <app-users-table-row [user]="user"></app-users-table-row>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
